/* 
    Document   : panel
    Created on : 10/01/2013, 02:20:40 PM
    Author     : armin
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.imagen-form img{
    width: 80%;
}

